#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  border-color: #cccccc;
  border-style: solid;
  border-width: 0.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

#nav a {
  color: #a0a0a0;
  text-decoration: none; /* Para eliminar el subrayado predeterminado de los enlaces */
}

#nav a:hover {
  color: #ccc;
}
