@tailwind base;
@tailwind components;
@tailwind utilities;
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  border-color: #cccccc;
  border-style: solid;
  border-width: 0.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
